.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .home-meditations-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
  }
  

  .home-meditations-list img {
    width: 200px; 
    height: auto; 
    margin: 50px; 
}