.rbc-calendar {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

/* Header Styles */
.rbc-toolbar {
  background-color: #52b6b7;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.rbc-toolbar button {
  background-color: #4c90af;
  color: rgb(138, 247, 249);
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 3px;
}

.rbc-toolbar .rbc-active {
  background-color: rgb(16, 16, 16);
  color: rgb(7, 0, 0); 
  border: 1px solid #0f0000; 
  border-radius: 3px; 
}

.rbc-toolbar button:hover {
  background-color: #41f0f3;
}

/* Day Header Styles */
.rbc-header {
  background-color: #1b71e9;
  color: rgb(138, 247, 249);
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

/* Time Slot Styles */
.rbc-time-slot {
  background-color: #c3dbe0;
  border-bottom: 1px solid #7ed4ea;
  padding: 10px;
  text-align: center;
  color: #666;
}

/* Event Styles */
.rbc-event {
  background-color: #15b2e6;
  color: rgb(2, 2, 2);
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
  font-size: 12px;
  text-align: center;
}

.rbc-event:hover {
  background-color: #0a54ca;
}

.rbc-event-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rbc-event-label {
  display: none;
}

.rbc-event-content {
  white-space: normal;
}

.rbc-today {
  background-color: #b8dee2;
}

.rbc-current-time-indicator {
  background-color: #ff0000;
  height: 2px;
}

.rbc-allday-cell {
  display: none;
}

.calendar-container {
  display: flex;
  justify-content: space-between;
}

.calendar {
  flex: 1;
  margin-right: 20px;
}

.journal-modal {
  flex: 0 0 300px; 
}

.modal-content {
  padding: 20px;
  color:#0633b0;
  background-color: rgb(187, 208, 244);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(165, 19, 19, 0.1);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #1b35e0;
}

